extends layout

block content
  h1= title
  p Welcome to #{title}

block content
  p Blink System
  p Curr Freq is: TODO - show update based on what is received in the port
  p https://reactjs.org/docs/hooks-intro.html